<ion-view view-title="Home">
    <ion-content class="padding" scroll="false">
        
         <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-colors="colors"
            chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick">
        </canvas>

        <!--<canvas id="bar" class="chart chart-bar"
        chart-data="data" chart-labels="labels"> chart-series="series"
        </canvas-->

        <div class="row chart-info">
            <div class="col col-40"><span>Total Flow: </span></div>
            <div class="col flowPrime "><span> 50 Hr 20 Min</span></div>
           
        </div>
                <div class="row chart-info">
            <div class="col col-40"><span>This week: </span></div>
            <div class="col flowPrime "><span> 20 Hr 8 Min</span></div>
            
        </div>
                <div class="row chart-info">
            <div class="col col-40"><span>Today: </span></div>
            <div class="col flowPrime "><span>  30 Min</span></div>
            
        </div>
    </ion-content>
  </ion-view>