<ion-view view-title="Home">
    <ion-content scroll="false">
        <div> <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-colors="colors"
                chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick">
        </canvas> </div>
        <div class="chart-split">
            <ul class="list">
                <li class="item">
                    <div class="row">
                        <div class="col col-50">
                            <div class="col flowPrime chart-info "> {{totalFlow}} </div>
                            <div class="col col-40 flow-grey"> Total Flow </div>
                        </div>
                        <div class="col col-50">
                            <div class="col flowPrime chart-info "> {{weekTotal}} </div>
                            <div class="col col-40 flow-grey"> This Week </div>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <div class="row">
                        <div class="col col-50">
                            <div class="col flowPrime chart-info "> {{todayFlow | date:'HH:mm:ss'}}</div>
                            <div class="col col-40 flow-grey"> Today </div>
                        </div>
                        <div class="col col-50">
                            <div class="col flowPrime chart-info "> {{sms}} </div>
                            <div class="col col-40 flow-grey"> Total SMS </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </ion-content>
</ion-view>