<ion-view view-title="Home">
    <ion-content class="padding" scroll="false">
        <div class="countdown" ng-if="status=='RUNNING'">{{countDown | date:'HH:mm:ss' : 'UTC'}}</div>      <div class="countdown" ng-if="status!='RUNNING'">00:00:00</div> 
          <div class="status" ng-if="status=='RUNNING'"> <span class="start-flow "></span> <span class="blink-nw">{{status}}</span> </div>
      
         <button ng-click="startFlow(btnStatus)" class="button button-positive btn-countdown greenBtn">START</button> <br><br>
          <button ng-click="startFlow(btnStatus)" class="button button-positive btn-countdown ">STOP</button>
   
          </ion-content>
</ion-view>