<ion-tabs class=" tabs-flow tabs-icon-top">
    <ion-tab title="HOME" href="#/tab/home" icon-on="ion-ios-home" icon-off="ion-ios-home">
        <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="CHART" href="#/tab/chart" icon-on="ion-ios-pie" icon-off="ion-ios-pie">
        <ion-nav-view name="home-chart"></ion-nav-view>
    </ion-tab>
    <!--<ion-tab title="SETTINGS" href="#/tab/settings" icon-on="ion-ios-settings" icon-off="ion-ios-settings">
        <ion-nav-view name="home-settings"></ion-nav-view>
    </ion-tab>-->
</ion-tabs>