 /*@import url('https://fonts.googleapis.com/css?family=Oswald');*/
 
 @font-face {
     font-family: 'Oswald';
     font-style: normal;
     font-weight: 400;
     src: url(font/Oswald-Regular.ttf);
 }
 
 .tabs-flow .tabs {
     border: none;
     background-color: #EF7B47 !important;
     background-image: none;
     color: #fff;
 }
 
 .custom-header {
     border: none !important;
     border-width: 0px;
     background-color: transparent !important;
 }
 
 .chart-split {
     background: #fff;
     color: #000;
     height: 100%;
 }
 
 .pane {
     background-color: #1F2729;
     color: #fff;
 }
 
 .countdown {
     font-size: 60px;
     text-align: center;
     display: block;
     margin-top: 50%;
     font-family: 'Oswald', sans-serif;
 }
 
 .btn-countdown {
     display: block;
     margin: 0 auto;
     top: 100px;
     width: 200px;
     background-color: #EF7B47 !important;
 }
 
 .status {
     color: #fff;
     text-align: center;
     display: block;
     width: 100%;
     text-transform: capitalize;
     font-size: 25px;
     animation: blink-animation 1s steps(5, start) infinite;
     -webkit-animation: blink-animation 1s steps(5, start) infinite;
 }
 
 .chart {
     margin-top: 10%;
     text-transform: uppercase;
     margin-bottom: 10%;
 }
 
 .chart-info {
     font-size: 25px;
     font-family: 'Oswald', sans-serif;
 }
 
 .flow-grey {
     color: #ADADAD;
     text-transform: uppercase;
 }
 
 .settings {
     font-size: 30px;
     color: #fff !important;
 }
 
 .button .icon:before, .button.icon:before, .button.icon-left:before, .button.icon-right:before {
     color: #fff !important;
 }
 
 .flowPrime {
     color: #EF7B47;
 }
 
 .pad10 {
     padding: 10px !important;
 }
 
 .button.button-positive, .button.button-positive.activated {
     background-color: #EF7B47;
     color: #fff;
 }
 
 .settings-page {
     font-size: 25px;
     color: #000;
     margin-top: 10px;
 }
 
 .settings-page div {
     color: #000;
 }
 
 .popup-head {
     padding: 15px 10px;
     border-bottom: 1px solid #eee;
     text-align: center;
     background-color: #EF7B47 !important;
     color: #000 !important;
 }
 
 .popup-head h3:first-child, .h3:first-child {
     margin-top: 0;
     color: #fff;
 }
 
 .blink {
     animation: blink-animation 2s steps(5, start) infinite;
     -webkit-animation: blink-animation 2s steps(5, start) infinite;
 }
 
 @keyframes blink-animation {
     to {
         visibility: hidden;
     }
 }
 
 @-webkit-keyframes blink-animation {
     to {
         visibility: hidden;
     }
 }